{% extends 'catalog/base.html' %}

{% block content %}


<div class="container-xxl">
    <div class="row">
        <div class="col">
            
            <div class="card m-5">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if object %}
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                        {% else %}
                        <button class="btn btn-primary" type="submit">Создать</button>
                        {% endif %}
                        
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock  %}