{% extends 'catalog/base.html' %}

{% load format_path %}

{% block content %}

<div class="container-xxl">

    <div class="row blog">
        <div class="main blog">
            {% if perms.blog.create_blogentry %}
                <a class="btn btn-primary blog" href={% url 'blog:create' %}>Добавить запись</a>
            {% endif %}
            {% for object in object_list %}
                <div class="card blog">

                    <div class="card-header blog">
                        <h4 class="title">{{ object.header }}</h4>
                    </div>
                    
                    <div class="card-body blog">
                        <div class="row">
                            <div class="col">
                                <img class="entry-preview" src={{ object.image_preview | format_path }} alt="...">
                            </div>
                            <div class="col">
                                <p>{{ object.content }}</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-footer blog">
                        <p class="mb-1">Дата создания: {{ object.creation_date }}</p>
                        <p class="mb-1">Количество просмотров: {{ object.views_count }}</p>
                        <a class="btn btn-primary blog m-2" href={% url 'blog:entry_detail' object.slug %}>Открыть</a>
                    </div>

                </div>
            {% endfor %}

        </div>
    </div>

</div>





{% endblock %}