{% extends 'catalog/base.html' %}

{% load format_path %}

{% block content %}

<div class="container-xxl">

    <div class="row blog">
        <div class="main blog">
            
                <div class="card blog">
                    <div class="card-body blog">

                        <h4 class="title">{{ object.header }}</h4>
                        <h4 class="title mb-4">slug: {{ object.slug }}</h4>

                        <div class="row">

                            <div class="col">
                                <img class="entry-preview" src={{ object.image_preview | format_path }} alt="...">
                            </div>
                            <div class="col">
                                <p>{{ object.content }}</p>
                            </div>
                        </div>
                    </div>

                    <p class="mb-1">Дата создания: {{ object.creation_date }}</p>
                    <p class="mb-1">Количество просмотров: {{ object.views_count }}</p>

                    <a class="btn btn-primary blog m-2" href={% url 'blog:entry_update' object.slug %}>Изменить</a>
                    <a class="btn btn-primary blog m-2" href={% url 'blog:entry_delete' object.slug %}>Удалить</a>

                </div>

        </div>
    </div>

</div>

{% endblock  %}