{% extends 'catalog/base.html' %}

{% block content %}

<div class="row title-profile">
    <div class="text-title">
        <h1>Данные вашего профиля</h1>
    </div>
</div>

<div class="row">
    <div class="col login">
        <form method="post">
            {% csrf_token %}
            <div class="card profile">
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mb-3">Сохранить</button>
                <a href="{% url 'users:gen_new_pass' %}" class="btn btn-warning">Сбросить пароль и отправить новый пароль на почту</a>
            </div>
        </form>
    
    </div>
</div>



{% endblock  %}