.row.title-main {
    height: 18em;
}

.text-title {
    text-align: center;
    margin-top: 3em;
    font-size: 1.4em;
}

.col-xxl-4.col-xl-6.col-lg-6.col-md-6.col-sm-12 {
    padding-inline: 2%;
}

/* .col-md-8 {
    overflow: hidden;
    line-height: 20px;
    text-overflow: ellipsis !important;
}

.card-text {
    max-height: 100px;
    overflow: hidden;
    line-height: 20px;
    text-overflow: ellipsis !important;

    
    
} */

.button {
    display: flex;
    margin: 0;
    padding-left: 1em;
}

.detail {
    text-decoration: none;
    color: rgb(109, 104, 104);
}

.detail:hover {
    color: #393b39;
    font-weight: bold;
}

@media (max-width: 840px){
    .row.g-0 {
        max-height: 200px;
    }
    .col.img>img {
        max-height: 200px;
    }

    .col.img {
        max-height: 200px;
    }
}





