.row.title-main {
    height: 18em;
}

.text-title {
    text-align: center;
    margin-top: 3em;
    font-size: 1.4em;
}

.card-body.text-success {
    display: block;
    height: 10.5em;

}

.card {
    border-color: #67676a !important;
    font-weight: bold;

}

.col-xxl-4.col-xl-6.col-lg-6.col-md-6.col-sm-12 {
    padding-inline: 2%;
}

.card-body.text-success {
    color: #4a4e54 !important;
}

.card.border-success.mb-3 {
    min-width: 22rem;
    /* margin-left: 18%; */
}

.card-header.bg-transparent.border-success{
    border-color: #67676a !important;
}

/* .row {
    margin-inline: 7%;
} */


@media (max-width: 1380px) {
    .card.border-success.mb-3 {
        margin-inline: 4.2em;
    }
    .col.empty {
        display: none;
    }
}

@media (max-width: 1000px) {
    .col.empty {
        display: none;
    }
    .card.border-success.mb-3 {
        margin-left: 3em;
    }
}

@media (max-width: 750px) {
    .col.empty {
        display: none;
    }
    .card.border-success.mb-3 {

        margin-left: 20vw;

    }
    .row.title {
        height: 12em;
    }
}