{% extends 'catalog/base.html' %}

{% block content %}

<div class="row title">
    <div class="text-title">
        <h1>Каталог</h1>
    </div>
</div>

<div class="row">

    <div class="col empty"></div>
    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col img">
                    <img src="/static/images/test-img.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Название</h5>
                        <p class="card-text">Какое то описание, описание, тут описывается товар, описание тут
                            описание товара, товар, какое то описание, описание товара.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col img">
                    <img src="/static/images/test-img.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Название</h5>
                        <p class="card-text">Какое то описание, описание, тут описывается товар, описание тут
                            описание товара, товар, какое то описание, описание товара.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col empty"></div>

</div>

<div class="row">

    <div class="col empty"></div>

    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col img">
                    <img src="/static/images/test-img.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Название</h5>
                        <p class="card-text">Какое то описание, описание, тут описывается товар, описание тут
                            описание товара, товар, какое то описание, описание товара.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col img">
                    <img src="/static/images/test-img.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Название</h5>
                        <p class="card-text">Какое то описание, описание, тут описывается товар, описание тут
                            описание товара, товар, какое то описание, описание товара.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col empty"></div>

</div>
{% endblock %}