{% extends 'catalog/base.html' %}

{% block content %}


<div class="row title">
    <div class="text-title">
        <h1>Контакты</h1>
    </div>
</div>

<div class="row main">
    <div class="col form">

        <form method="post">
            {% csrf_token %}
            <div class="card">
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>

    </div>
    <div class="col">
        <div class="text">
            <h2>Наши контакты</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet atque consequuntur deserunt
                dolore eius illo incidunt inventore libero magnam, nihil porro praesentium, quam quod vel,
                velit
                veniam? Sapiente, tempore?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid animi, commodi
                deleniti eos, eum exercitationem facere illum, laudantium nobis nulla obcaecati quam quas
                quo
                ratione repellat suscipit veritatis voluptatum!</p>
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error fugiat impedit itaque iusto
                maiores minima nesciunt, perferendis quaerat. Ab autem eum, itaque modi nostrum omnis
                perspiciatis provident quae totam voluptatum.</P>
        </div>
    </div>
</div>
<div class="row">
    <div class="data">
        <p>Имя: {{ name }}</p>
        <p>Почта: {{ email }}</p>
        <p>Текст: {{ massage }}</p>
    </div>
</div>



{% endblock %}