{% extends 'catalog/base.html' %}

{% block content %}


<div class="row title">
    <div class="text-title">
        <h1>Контакты</h1>
    </div>
</div>

<div class="row main">
    <div class="col form">

        <form method="post">
            {% csrf_token %}
            <div class="card">
                <div class="mb-3">
                    <label class="form-label">Имя</label>
                    <input class="form-control" type="text" placeholder="Имя" aria-label="default input example"
                        name="name">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Почта</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@mail.com"
                        name="email">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Сообщение</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text"></textarea>
                </div>
                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" value="Отправить" />
                </div>
            </div>
        </form>

    </div>
    <div class="col">
        <div class="text">
            <h2>Наши контакты</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet atque consequuntur deserunt
                dolore eius illo incidunt inventore libero magnam, nihil porro praesentium, quam quod vel,
                velit
                veniam? Sapiente, tempore?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid animi, commodi
                deleniti eos, eum exercitationem facere illum, laudantium nobis nulla obcaecati quam quas
                quo
                ratione repellat suscipit veritatis voluptatum!</p>
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error fugiat impedit itaque iusto
                maiores minima nesciunt, perferendis quaerat. Ab autem eum, itaque modi nostrum omnis
                perspiciatis provident quae totam voluptatum.</P>
        </div>
    </div>
</div>
<div class="row">
    <div class="data">
        <p>Имя: {{ name }}</p>
        <p>Почта: {{ email }}</p>
        <p>Текст: {{ massage }}</p>
    </div>
</div>



{% endblock %}