{% extends 'catalog/base.html' %}

{% block content %}


<div class="row title-main">
    <div class="text-title">
        <h1>Главная</h1>
        <p>Вы находитесь на сайте, предназначенном для продажи товара.</p>
    </div>
</div>

<div class="row align-items-center">
    {% for product in products %}
        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">{{ product.name }}</div>
                <div class="card-body text-success">
                    <h5 class="card-title">$ 100</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                <div class="card-footer bg-transparent border-success"><a href="#"
                        class="btn btn-primary">Купить</a></div>
            </div>
        </div>
    {% endfor %}
</div>



{% endblock %}



