{% extends 'catalog/base.html' %}

{% load character_limit %}
{% load static %}

{% block content %}
<div class="row title-main">
    <div class="text-title">
        <h1>Главная</h1>
        <p>Вы находитесь на сайте, предназначенном для продажи товара.</p>
    </div>
</div>

<div class="row">
    {% for product in products %}
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col img">
                    <img src="/static/images/test-img.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description | character_limit }} </p>

                    </div>
                    <div class="button">
                
                        <a class="detail" type="submit" href={% url 'catalog:product' product.pk %}><p>Подробнее...</p></a>
                            
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row add">
    <div class="col">
        
        <h2>Добавить продукт</h2>

        <form method="post">
            {% csrf_token %}
            <div class="card input">





                <div class="mb-2">
                    <!-- <label class="form-label">Имя</label> -->
                    <input class="form-control form-control-sm" name="name" type="text" placeholder="Имя" default="Имя"  aria-label=".form-control-sm example" required>
                </div>

                <div class="mb-2">
                    <!-- <label for="exampleFormControlInput1" class="form-label">Стоимость</label> -->
                    <input class="form-control form-control-sm" name="price" type="text" placeholder="Стоимость" default="0" aria-label=".form-control-sm example" required>
                </div>

                <select class="form-select form-select-sm mb-2" name="category" aria-label="Категория">
                    <option value="0">Выберите категорию</option>
                    <option value="1">Категория 1</option>
                    <option value="2">Категория 2</option>
                    <option value="3">Категория 3</option>
                </select>

                <div class="mb-2">
                    <input class="form-control form-control-sm" accept="image/*" name="image_preview" id="formFileSm" type="file">
                </div>
                  
                <div class="mb-2">
                    <label for="exampleFormControlTextarea1" class="form-label">Описание</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" default="Описание" rows="1" name="description" required>...</textarea>
                </div>


                <div class="mb-1">
                    <input class="btn btn-primary" type="submit" value="Отправить" />
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}