{% extends 'catalog/base.html' %}

{% block content %}
<div class="row title">
    <div class="text-title">
        <h1>Категория 1</h1>
    </div>
</div>

<div class="row">

    <div class="col empty"></div>

    <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">Товар 1</div>
            <div class="card-body text-success">
                <h5 class="card-title">$ 100</h5>
                <p class="card-text">Какое то описание, описание, тут описывается товар, описание товара,
                    описание.</p>
            </div>
            <div class="card-footer bg-transparent border-success"><a href="#" class="btn btn-primary">Купить</a></div>
        </div>
    </div>
    <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">Товар 2</div>
            <div class="card-body text-success">
                <h5 class="card-title">$ 100</h5>
                <p class="card-text">Какое то описание, описание, тут описывается товар, описание товара,
                    описание.</p>
            </div>
            <div class="card-footer bg-transparent border-success"><a href="#" class="btn btn-primary">Купить</a></div>
        </div>
    </div>
    <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">Товар 3</div>
            <div class="card-body text-success">
                <h5 class="card-title">$ 100</h5>
                <p class="card-text">Какое то описание, описание, тут описывается товар, описание товара,
                    описание.</p>
            </div>
            <div class="card-footer bg-transparent border-success"><a href="#" class="btn btn-primary">Купить</a></div>
        </div>
    </div>

    <div class="col empty"></div>

</div>
<div class="row">

    <div class="col empty"></div>

    <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">Товар 4</div>
            <div class="card-body text-success">
                <h5 class="card-title">$ 100</h5>
                <p class="card-text">Какое то описание, описание, тут описывается товар, описание товара,
                    описание.</p>
            </div>
            <div class="card-footer bg-transparent border-success"><a href="#" class="btn btn-primary">Купить</a></div>
        </div>
    </div>
    <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">Товар 5</div>
            <div class="card-body text-success">
                <h5 class="card-title">$ 100</h5>
                <p class="card-text">Какое то описание, описание, тут описывается товар, описание товара,
                    описание.</p>
            </div>
            <div class="card-footer bg-transparent border-success"><a href="#" class="btn btn-primary">Купить</a></div>
        </div>
    </div>
    <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">Товар 6</div>
            <div class="card-body text-success">
                <h5 class="card-title">$ 100</h5>
                <p class="card-text">Какое то описание, описание, тут описывается товар, описание товара,
                    описание.</p>
            </div>
            <div class="card-footer bg-transparent border-success"><a href="#" class="btn btn-primary">Купить</a></div>
        </div>
    </div>

    <div class="col empty"></div>

</div>
{% endblock %}