{% extends 'catalog/base.html' %}

{% block content %}

<div class="row add">
    <div class="col">


        {% if object %}
        <h2>Изменить продукт</h2>
        {% else %}
        <h2>Добавить продукт</h2>
        {% endif %}

        <div class="card input">
            <div class="col">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        {{ form.as_p }}
                        <input class="btn btn-primary" type="submit" value="Сохранить" />
                    </div>
                    <div class="mb-1">
                
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        {% for form in formset.forms %}
        <div class="card input">
            <div class="col">
                {{ formset.management_form }}
		        {{ form.as_p }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}