{% extends 'catalog/base.html' %}

{% load static %}

{% load format_path_to_image %}

{% block content %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">

            {% if object.image_preview %}
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src={{ object.image_preview | format_path_to_image }}
                    alt="..." /></div>
            {% else %}
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                    src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
            {% endif %}

            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{ object.name }}</h1>
                <a class="btn btn-outline-light flex-shrink-0 mb-3" href={% url 'catalog:update_product' object.pk %}>Изменить</a>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">${{ object.price }}</span>
                    <span> | $ Three Hundred Bucks</span>
                </div>

                <p class="lead"> {{ object.description }} </p>
                <p class="lead">Дата создания: {{ object.creation_date }}</p>
                <p class="lead">Дата обновления: {{ object.update_date }}</p>
                <p> Путь до картинки: {{ object.image_preview | format_path_to_image }} </p>

                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                        style="max-width: 3rem" />
                    <button class="btn btn-outline-light flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Добавить в корзину
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}